@page
@model TaskManagement.Web.Pages.Task.EditModel
@{
}

<div class="container mt-1">
    <h4 class="text-center mb-4">Edit Task</h4>
    <div class="row">
        <div class="col-md-8">
            <form id="editTaskForm" method="post">
                <div class="form-group row mb-3">
                    <label for="Title" class="col-sm-4 col-form-label">Title</label>
                    <div class="col-sm-8">
                        <input type="text" asp-for="CreateTaskModel.Title" id="Title" name="Title" class="form-control" required />
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <label for="Description" class="col-sm-4 col-form-label">Description:</label>
                    <div class="col-sm-8">
                        <input type="text" asp-for="CreateTaskModel.Description" id="Description" name="Description" class="form-control" required />
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <label for="Assignee" class="col-sm-4 col-form-label">Assignee:</label>
                    <div class="col-sm-8">
                        <select id="Assignee" asp-for="CreateTaskModel.Assignee" name="Assignee" class="form-control" required>
                        </select>
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <label for="Priority" class="col-sm-4 col-form-label">Priority:</label>
                    <div class="col-sm-8">
                        <select id="Priority" asp-for="CreateTaskModel.Priority" name="Priority" class="form-control" required>
                            <option value="high">High</option>
                            <option value="medium">Medium</option>
                            <option value="low">Low</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <label for="Status" class="col-sm-4 col-form-label">Status:</label>
                    <div class="col-sm-8">
                        <select id="Status" asp-for="CreateTaskModel.Status"  name="Status" class="form-control" required>
                            <option value="open">Open</option>
                            <option value="inprogress">In Progress</option>
                            <option value="closed">Closed</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <label for="DueDate" class="col-sm-4 col-form-label">Due Date:</label>
                    <div class="col-sm-8">
                        <input type="date"  asp-for="CreateTaskModel.DueDate" id="DueDate" name="DueDate" class="form-control" required />
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <label for="Progress" class="col-sm-4 col-form-label">Progress:</label>
                    <div class="col-sm-8">
                        <input type="number" asp-for="CreateTaskModel.Progress" id="Progress" name="Progress" class="form-control" required />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-8 offset-sm-4">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


@section scripts {
    <script>


        $(document).ready(function () {
            $('#Assignee').select2({
                placeholder: 'Select an Assignee',
            });
            var assignees = ['Assignee 1', 'Assignee 2', 'Assignee 3'];

            for (var i = 0; i < assignees.length; i++) {
                $('#Assignee').append('<option value="' + assignees[i] + '">' + assignees[i] + '</option>');
            }

            $('#Assignee').select2({
                placeholder: 'Select an Assignee',
            });
        });
    </script>
}